Library/
Temp/
Assets/Scenes/UITest.unity
Assets/Scenes/UITest.unity.meta
panzer-cats-csharp.sln
panzer-cats.sln
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
panzer-cats.userprefs
Panzer Cats-csharp.sln
Panzer Cats.sln
Panzer Cats.userprefs
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp.pidb
